.DS_Store
*.ini
*.txt
*.p
*.pyc
*.out
*.png
*.ini
template/.DS_Store
*.ini
*.ini
*.ini
template/.spyproject/workspace.ini
template/.spyproject/workspace.ini
*.cps
*.sbml
*.csv
*.p
*.eps
*.sbgn
*.svg
*.xml
*.ini
*.ini
template/copasiRuns/example1/pl_A/PE28248.sh
template/copasiRuns/example1/pl_A/PE29533.sh
template/copasiRuns/example1/pl_A/PE40172.sh
template/.spyproject/workspace.ini
template/copasiRuns/example1/pl_A/PE50.sh
template/copasiRuns/example1/pl_A/PE86010.sh
template/copasiRuns/example1/pl_A/PE92429.sh
template/copasiRuns/example1/pl_B/PE28248.sh
template/copasiRuns/example1/pl_B/PE29533.sh
template/copasiRuns/example1/pl_B/PE40172.sh
template/copasiRuns/example1/pl_B/PE50.sh
template/copasiRuns/example1/pl_B/PE86010.sh
template/copasiRuns/example1/pl_B/PE91098.sh
template/copasiRuns/example1/pl_B/PE92429.sh
template/copasiRuns/example1/pl_k1/PE254.sh
template/copasiRuns/example1/pl_k1/PE28248.sh
template/copasiRuns/example1/pl_k1/PE28520.sh
template/copasiRuns/example1/pl_k1/PE29533.sh
template/copasiRuns/example1/pl_k1/PE40172.sh
template/copasiRuns/example1/pl_k1/PE50.sh
template/copasiRuns/example1/pl_k1/PE76085.sh
template/copasiRuns/example1/pl_k1/PE86010.sh
template/copasiRuns/example1/pl_k1/PE90193.sh
template/copasiRuns/example1/pl_k1/PE91098.sh
template/copasiRuns/example1/pl_k1/PE92429.sh
template/copasiRuns/example1/pl_k2/PE254.sh
template/copasiRuns/example1/pl_k2/PE28248.sh
template/copasiRuns/example1/pl_k2/PE28520.sh
template/copasiRuns/example1/pl_k2/PE29533.sh
template/copasiRuns/example1/pl_k2/PE40172.sh
template/copasiRuns/example1/pl_k2/PE50.sh
template/copasiRuns/example1/pl_k2/PE76085.sh
template/copasiRuns/example1/pl_k2/PE86010.sh
template/copasiRuns/example1/pl_k2/PE90193.sh
template/copasiRuns/example1/pl_k2/PE91098.sh
template/copasiRuns/example1/pl_k2/PE92429.sh
template/copasiRuns/example1/pl_k3/PE254.sh
template/copasiRuns/example1/pl_k3/PE28248.sh
template/copasiRuns/example1/pl_k3/PE28520.sh
template/copasiRuns/example1/pl_k3/PE29533.sh
template/copasiRuns/example1/pl_k3/PE40172.sh
template/copasiRuns/example1/pl_k3/PE50.sh
template/copasiRuns/example1/pl_k3/PE76085.sh
template/copasiRuns/example1/pl_k3/PE86010.sh
template/copasiRuns/example1/pl_k3/PE90193.sh
template/copasiRuns/example1/pl_k3/PE91098.sh
template/copasiRuns/example1/pl_k3/PE92429.sh
template/copasiRuns/example1/pl_k4/PE254.sh
template/copasiRuns/example1/pl_k4/PE28248.sh
template/copasiRuns/example1/pl_k4/PE28520.sh
template/copasiRuns/example1/pl_k4/PE29533.sh
template/copasiRuns/example1/pl_k4/PE40172.sh
template/copasiRuns/example1/pl_k4/PE50.sh
template/copasiRuns/example1/pl_k4/PE76085.sh
template/copasiRuns/example1/pl_k4/PE86010.sh
template/copasiRuns/example1/pl_k4/PE90193.sh
template/copasiRuns/example1/pl_k4/PE91098.sh
template/copasiRuns/example1/pl_k4/PE92429.sh
